body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient( rgba(135, 55, 210, 0.658),  rgba(214, 186, 240, 0.658));
    width: 100vw;
    height: 100vh;
}
  
#conteiner img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
#conteiner{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;  
    background-color: rgba(233, 229, 237, 0.658);
    border-radius: 30px; 
   
}

input{
    height: 40px;
    width: 80%;
    margin-top: 10px;
    background-color: rgba(214, 186, 240, 0.658);
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: -6px;
    cursor: pointer;
}

input.usuario{
    background-image: url(../usuario.png);
}
input.senha{
    background-image: url(../senha.png);
    background-position: -2px;
}
input.submit{
    background-color: rgb(97, 80, 174);
    color: #fff;
    border: 2px solid  rgb(79, 51, 206);
    padding: 5px 20px;
    height: 45px;
    width: 90%;
    text-align: center;
}
