ul {
    margin: 0; /* deixa sem a margem padrão da página*/
    padding: 0; /*tira a marcação da lista */
    list-style-type: none; /* Remove os marcadores da lista */
}

ul a {
    width: 200px; /*largura*/
    height: 40px; /*altura*/
    display: block; /* permite que sejam rederizados como blocos, tenho espaço em cima,do lado do outro*/
    color: black;
    text-decoration: none; /*remover o subilinhado abaixo do link*/
    text-indent: 40px; /* recuo do texto, ficando mais centralizado*/
    line-height: 40px; /* altura da linha- texto desce um pouco */
    
}

a:hover{
    color: #fff; /*mudar a cor da imgem quando passa o mause*/
}

.mapa {
    text-align: center;
}
